.login-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-card-container {
  background-color: #202020;
  height: 60vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.label-username {
  color: #ffffff;
  align-self: flex-start;
  margin-top: 60px;
}
.label-password {
  color: #ffffff;
  align-self: flex-start;
}
.username-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  background-color: transparent;
  color: #ffffff;
  margin-top: 5px;
}
.password-input {
  width: 100%;
  padding: 10px;
  color: #ffffff;
  background-color: transparent;
  margin-top: 5px;
}
.login-btn {
  background-color: #4746e5;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border-width: 0px;
  width: 100%;
  margin-top: 30px;
}
.error-msg {
  color: #ffffff;
}
